# Ignore node_modules directories
node_modules/

# If you want to ignore other typical development files, you can add the following:

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# Optional VS Code directories and files
.vscode/
.vscode/*
.history

# Optional WebStorm/IntelliJ IDEA directories
.idea/
